@import url("https://fonts.googleapis.com/css?family=Montserrat:100,400,600,700|Playfair+Display:400,700");
.container {
  position: relative;
  margin: 0 auto;
  width: 1024px; }
  .container header {
    color: #ffffff;
    padding: 26px 42px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 565px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .container header nav {
      font-family: "Montserrat", sans-serif;
      font-size: 0.80rem;
      letter-spacing: 0.5px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .container header nav p {
        font-weight: bold; }
      .container header nav ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        list-style: none; }
        .container header nav ul li {
          margin: 0 10px; }
          .container header nav ul li a {
            text-decoration: none;
            color: #ffffff; }
    .container header .description {
      max-width: 460px;
      margin: 0 0 40px 0; }
      .container header .description h1 {
        font-family: "Playfair Display", serif;
        font-size: 3.1rem;
        margin: 0 0 15px 0; }
      .container header .description p {
        font-family: "Montserrat", sans-serif;
        font-size: 1.13rem;
        font-weight: 100;
        letter-spacing: 1.2px; }
    .container header .scroll {
      font-size: 1.1rem;
      font-family: "Montserrat", sans-serif; }
    .container header img {
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: -1;
      width: 1024px;
      height: 565px; }
  .container main {
    height: 1000px; }
    .container main .galerie h2 {
      color: #6E6E6E; }

* {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  font-size: 62.5%; }
