@import url("https://fonts.googleapis.com/css?family=Montserrat:100,400,600,700|Playfair+Display:400,700");
p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.13rem; }

header {
  color: #ffffff;
  padding: 26px 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 800px; }
  @media screen and (max-width: 1024px) {
    header {
      height: 40vh; } }
  @media screen and (max-width: 380px) {
    header {
      height: 25vh;
      padding: 20px; } }
  header video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1; }
  header nav {
    font-family: "Montserrat", sans-serif;
    font-size: 0.80rem;
    letter-spacing: 0.5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media screen and (max-width: 1024px) {
      header nav {
        display: none; } }
    header nav p {
      font-weight: bold; }
    header nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      list-style: none; }
      header nav ul li {
        margin: 0 10px; }
        header nav ul li a {
          text-decoration: none;
          color: #ffffff;
          position: relative; }
          header nav ul li a::after {
            content: '';
            position: absolute;
            background-color: white;
            bottom: -5px;
            right: 0;
            width: 0%;
            height: 2px;
            -webkit-transition: all 0.2s;
            -o-transition: all 0.2s;
            transition: all 0.2s; }
      header nav ul li:hover a::after {
        width: 100%;
        left: 0; }

@media screen and (max-width: 1024px) {
  div.description_container {
    position: absolute;
    top: 25vh;
    width: 90%; } }

@media screen and (max-width: 380px) {
  div.description_container {
    top: 14vh; } }

div.description_container .description {
  max-width: 460px;
  margin: 0 0 40px 0;
  font-weight: 100; }
  @media screen and (max-width: 1024px) {
    div.description_container .description {
      max-width: 340px; } }
  @media screen and (max-width: 380px) {
    div.description_container .description {
      max-width: 200px;
      margin-bottom: 0; } }
  div.description_container .description h1 {
    font-family: "Playfair Display", serif;
    font-size: 3.1rem;
    margin: 0 20px 0 0; }
    @media screen and (max-width: 1024px) {
      div.description_container .description h1 {
        font-size: 2rem; } }
    @media screen and (max-width: 380px) {
      div.description_container .description h1 {
        font-size: 1.4rem; } }
  @media screen and (max-width: 1024px) {
    div.description_container .description p {
      font-size: 0.5rem; } }
  @media screen and (max-width: 380px) {
    div.description_container .description p {
      font-size: 0.2rem; } }

div.description_container .scroll {
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 40px;
  margin: 0 auto; }
  @media screen and (max-width: 380px) {
    div.description_container .scroll {
      width: 20px; } }
  div.description_container .scroll img {
    width: 10px;
    height: 5px;
    margin: 0 auto; }
    @media screen and (max-width: 380px) {
      div.description_container .scroll img {
        width: 8px;
        height: 4px; } }
  div.description_container .scroll p {
    font-size: 0.8rem; }
    @media screen and (max-width: 380px) {
      div.description_container .scroll p {
        font-size: 0.2rem; } }

.header_bg {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  width: 100%;
  height: 566px; }

main {
  font-family: "Montserrat", sans-serif;
  padding: 26px; }
  @media screen and (max-width: 380px) {
    main {
      padding: 20px; }
      main p {
        font-size: 0.8rem; } }
  main h2 {
    color: #EEEEEE;
    margin-left: 15px;
    font-size: 6rem; }
    @media screen and (max-width: 1024px) {
      main h2 {
        font-size: 4rem; } }
    @media screen and (max-width: 380px) {
      main h2 {
        font-size: 2rem;
        margin-left: 5px; } }
  main h3 {
    color: #4A4A4A;
    font-size: 2.5rem;
    font-family: "Playfair Display", serif;
    margin-bottom: 20px; }
    @media screen and (max-width: 380px) {
      main h3 {
        font-size: 1.5rem; } }
  main .galerie .galerie_contenue {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%; }
    @media screen and (max-width: 1024px) {
      main .galerie .galerie_contenue {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
    main .galerie .galerie_contenue img {
      left: 40px;
      width: 60%;
      position: absolute; }
      @media screen and (max-width: 1024px) {
        main .galerie .galerie_contenue img {
          width: 90%; } }
      @media screen and (max-width: 380px) {
        main .galerie .galerie_contenue img {
          left: 20px; } }
    main .galerie .galerie_contenue img:nth-child(2) {
      width: 60%;
      height: 60%;
      top: 30px;
      left: 30px;
      position: relative;
      -webkit-filter: blur(0.4rem);
      filter: blur(0.4rem);
      z-index: -1; }
      @media screen and (max-width: 1024px) {
        main .galerie .galerie_contenue img:nth-child(2) {
          width: 90%;
          top: 40px; } }
    main .galerie .galerie_contenue .galerie_text {
      margin-top: 80px;
      margin-left: 80px; }
      @media screen and (max-width: 1024px) {
        main .galerie .galerie_contenue .galerie_text {
          margin: 60px auto 0 auto; } }
      main .galerie .galerie_contenue .galerie_text p {
        color: #4A4A4A;
        width: 350px; }
  main .galerie a {
    color: #4A4A4A;
    font-size: 1rem;
    text-decoration: none;
    margin-left: 6px;
    border: 1px solid #4A4A4A;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 90px auto;
    text-align: center;
    position: absolute;
    left: 40%;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
    @media screen and (max-width: 1024px) {
      main .galerie a {
        left: 35%;
        margin: 60px auto; } }
    @media screen and (max-width: 380px) {
      main .galerie a {
        left: 20%;
        margin: 30px auto; } }
    main .galerie a img {
      width: 15px;
      margin-right: 5px;
      margin-bottom: -2px; }
    main .galerie a img:nth-child(2) {
      position: absolute;
      left: 20px;
      top: 11px;
      opacity: 0;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
  main .galerie a:hover {
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    background: #4A4A4A; }
    main .galerie a:hover img:nth-child(1) {
      opacity: 0; }
    main .galerie a:hover img:nth-child(2) {
      opacity: 1; }
  main .carnets {
    margin-top: 200px; }
    @media screen and (max-width: 380px) {
      main .carnets {
        margin-top: 120px; } }
    main .carnets img {
      width: 40%;
      height: 20%; }
      @media screen and (max-width: 380px) {
        main .carnets img {
          margin: 0 auto; } }
    main .carnets .carnets_contenue {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
      @media screen and (max-width: 380px) {
        main .carnets .carnets_contenue {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column; } }
      main .carnets .carnets_contenue .carnets_text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 300px;
        margin-left: 200px; }
        @media screen and (max-width: 1024px) {
          main .carnets .carnets_contenue .carnets_text {
            margin-top: 80px;
            margin-left: 40px; } }
        @media screen and (max-width: 380px) {
          main .carnets .carnets_contenue .carnets_text {
            margin-top: 20px; } }
        main .carnets .carnets_contenue .carnets_text a {
          text-decoration: none;
          color: #4A4A4A;
          width: 350px;
          font-size: 1.13rem;
          margin-top: 20px; }
          @media screen and (max-width: 380px) {
            main .carnets .carnets_contenue .carnets_text a {
              font-size: 0.8rem;
              width: 180px; } }
          main .carnets .carnets_contenue .carnets_text a img {
            width: 15px;
            -webkit-transition: all 0.2s;
            -o-transition: all 0.2s;
            transition: all 0.2s; }
        main .carnets .carnets_contenue .carnets_text :hover img {
          margin-left: 10px; }
  main .cours {
    margin-top: 100px; }
    @media screen and (max-width: 380px) {
      main .cours {
        margin-top: 40px; } }
    main .cours .cours_contenue {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 90%;
      margin-left: 20px;
      margin-top: 60px; }
      @media screen and (max-width: 1024px) {
        main .cours .cours_contenue {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          margin-top: 20px;
          margin-left: 40px; } }
      @media screen and (max-width: 380px) {
        main .cours .cours_contenue {
          margin-left: 15px; } }
      main .cours .cours_contenue img {
        width: 40%;
        height: 20%; }
        @media screen and (max-width: 1024px) {
          main .cours .cours_contenue img {
            width: 100%; } }
      main .cours .cours_contenue p {
        width: 40%; }
        @media screen and (max-width: 1024px) {
          main .cours .cours_contenue p {
            width: 100%;
            margin-bottom: 40px; } }
    main .cours a {
      text-decoration: none;
      color: #4A90E2;
      font-size: 1rem;
      border: 0.5px solid #4A90E2;
      border-radius: 20px;
      padding: 10px 20px;
      margin: 40px auto;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      text-align: center;
      width: 154px; }
    main .cours a:hover {
      border: 0.5px solid #FFFFFF;
      color: #FFFFFF;
      background: #4A90E2; }

footer {
  background-color: #4A4A4A;
  color: #ffffff; }
  footer .marge {
    padding: 50px; }
    @media screen and (max-width: 380px) {
      footer .marge {
        padding: 20px; } }
  footer h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 3rem;
    opacity: 0.4; }
    @media screen and (max-width: 380px) {
      footer h2 {
        font-size: 2rem; } }
  footer .reseau {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: 400; }
    footer .reseau a {
      color: white;
      text-decoration: none; }
    footer .reseau div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      border: 1px solid white;
      border-radius: 30px;
      padding: 10px 20px;
      margin: 0 15px;
      font-size: 1.2rem;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
      @media screen and (max-width: 380px) {
        footer .reseau div {
          font-size: 0.8rem; }
          footer .reseau div p {
            font-size: 0.8rem; } }
      footer .reseau div i {
        margin-right: 12px; }
    footer .reseau div:hover {
      background-color: white;
      color: #4A4A4A;
      -webkit-box-shadow: 0px 5px 10px #0a0a0a;
      box-shadow: 0px 5px 10px #0a0a0a; }
  footer .bottom {
    font-family: "Montserrat", sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 80px 0 0 0; }
    @media screen and (max-width: 380px) {
      footer .bottom {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 20px 0 0 0; } }
    footer .bottom .mail_network {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: 1.2rem; }
      footer .bottom .mail_network i {
        margin: 0 10px;
        color: white; }
        @media screen and (max-width: 380px) {
          footer .bottom .mail_network i {
            font-size: 0.8rem;
            margin: 0 5px; } }
      footer .bottom .mail_network .mail {
        font-size: 1.2rem; }
        @media screen and (max-width: 380px) {
          footer .bottom .mail_network .mail {
            font-size: 0.8rem; } }
    footer .bottom .mention {
      font-size: 0.8rem; }
      @media screen and (max-width: 380px) {
        footer .bottom .mention {
          font-size: 0.6rem; } }
      footer .bottom .mention a {
        color: white; }

#instafeed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 50px 0; }
  @media screen and (max-width: 380px) {
    #instafeed {
      margin: 20px 0; } }
  #instafeed .instaimg {
    margin: 30px 10px; }
    @media screen and (max-width: 380px) {
      #instafeed .instaimg {
        margin: 0; } }
    #instafeed .instaimg .squaring {
      width: 230px;
      height: 230px;
      overflow: hidden;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
      @media screen and (max-width: 1024px) {
        #instafeed .instaimg .squaring {
          width: 110px;
          height: 100px; } }
      @media screen and (max-width: 380px) {
        #instafeed .instaimg .squaring {
          width: 65px;
          height: 50px; } }
      #instafeed .instaimg .squaring:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        -webkit-transform-origin: center;
        -ms-transform-origin: center;
        transform-origin: center; }
      #instafeed .instaimg .squaring img {
        max-width: 230px;
        margin: 0 20px 0 20px;
        -webkit-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s; }
        @media screen and (max-width: 1024px) {
          #instafeed .instaimg .squaring img {
            max-width: 90px; } }
        @media screen and (max-width: 380px) {
          #instafeed .instaimg .squaring img {
            max-width: 50px; } }
        #instafeed .instaimg .squaring img:hover {
          -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
          transform: scale(1.1);
          -webkit-transform-origin: center;
          -ms-transform-origin: center;
          transform-origin: center; }

.contener_carnets .header {
  color: black;
  padding: 26px 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .contener_carnets .header nav {
    font-family: "Montserrat", sans-serif;
    font-size: 0.80rem;
    letter-spacing: 0.5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .contener_carnets .header nav p {
      font-weight: bold; }
    .contener_carnets .header nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      list-style: none; }
      .contener_carnets .header nav ul li:hover a::after {
        width: 100%;
        left: 0; }
      .contener_carnets .header nav ul li {
        margin: 0 10px; }
        .contener_carnets .header nav ul li a {
          text-decoration: none;
          color: black;
          position: relative; }
          .contener_carnets .header nav ul li a::after {
            content: '';
            position: absolute;
            background-color: black;
            bottom: -5px;
            right: 0;
            width: 0%;
            height: 2px;
            -webkit-transition: all 0.2s;
            -o-transition: all 0.2s;
            transition: all 0.2s; }
        .contener_carnets .header nav ul li a.underline::after {
          content: '';
          position: absolute;
          background-color: black;
          bottom: -5px;
          right: 0;
          width: 100%;
          height: 2px;
          -webkit-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s; }

.contener_carnets .slider_container {
  margin: 0 50px; }
  .contener_carnets .slider_container h3 {
    font-family: "Playfair Display", serif;
    font-size: 2.8rem;
    margin-top: 100px; }
  .contener_carnets .slider_container img {
    height: 400px;
    display: block;
    width: 100%; }
  .contener_carnets .slider_container p {
    margin: 50px 0px; }

.contener_carnets footer {
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 60px 40px 20px 40px;
  background: none;
  color: #4A4A4A; }
  .contener_carnets footer .mail_network {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.2rem; }
    .contener_carnets footer .mail_network i {
      margin: 0 10px;
      color: #4A4A4A; }
    .contener_carnets footer .mail_network .mail {
      font-size: 1.2rem; }
  .contener_carnets footer .mention {
    font-size: 0.8rem; }

.contener_cours {
  /********************

      MAIN

********************/
  /********************

      FOOTER

********************/ }
  .contener_cours .header {
    color: black;
    padding: 26px 42px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .contener_cours .header nav {
      font-family: "Montserrat", sans-serif;
      font-size: 0.80rem;
      letter-spacing: 0.5px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .contener_cours .header nav p {
        font-weight: bold; }
      .contener_cours .header nav ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        list-style: none; }
        .contener_cours .header nav ul li:hover a::after {
          width: 100%;
          left: 0; }
        .contener_cours .header nav ul li {
          margin: 0 10px; }
          .contener_cours .header nav ul li a {
            text-decoration: none;
            color: black;
            position: relative; }
            .contener_cours .header nav ul li a::after {
              content: '';
              position: absolute;
              background-color: black;
              bottom: -5px;
              right: 0;
              width: 0%;
              height: 2px;
              -webkit-transition: all 0.2s;
              -o-transition: all 0.2s;
              transition: all 0.2s; }
          .contener_cours .header nav ul li a.underline::after {
            content: '';
            position: absolute;
            background-color: black;
            bottom: -5px;
            right: 0;
            width: 100%;
            height: 2px;
            -webkit-transition: all 0.2s;
            -o-transition: all 0.2s;
            transition: all 0.2s; }
  .contener_cours main {
    margin-top: 50px; }
    .contener_cours main h2 {
      font-family: "Playfair Display", serif;
      color: #4C4C4C;
      font-size: 4.2rem;
      margin-bottom: 20px; }
    .contener_cours main .cours_contenue {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-left: 15px; }
      .contener_cours main .cours_contenue .center {
        -ms-flex-item-align: center;
        align-self: center; }
      .contener_cours main .cours_contenue p {
        width: 50%;
        font-size: 1rem; }
        .contener_cours main .cours_contenue p a {
          width: 140px;
          margin: 10px;
          display: inline-block;
          border: none;
          font-size: 0.8rem;
          border-bottom: 2px solid;
          padding: 0;
          border-radius: 0;
          color: #4A4A4A; }
        .contener_cours main .cours_contenue p a:hover {
          border-bottom: 4px solid #A4A4A4;
          background: white;
          color: #4A4A4A; }
      .contener_cours main .cours_contenue img {
        width: 45%;
        height: 40%; }
      .contener_cours main .cours_contenue .center {
        width: 60%; }
      .contener_cours main .cours_contenue .center + img {
        width: 30%;
        height: 40%; }
    .contener_cours main a {
      text-decoration: none;
      text-align: center;
      color: #4A90E2;
      font-size: 1rem;
      border: 0.5px solid #4A90E2;
      border-radius: 20px;
      padding: 10px 20px;
      margin: 40px auto;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      text-align: center;
      width: 140px; }
    .contener_cours main a:hover {
      border: 0.5px solid #FFFFFF;
      color: #FFFFFF;
      background: #4A90E2; }
  .contener_cours footer {
    font-family: "Montserrat", sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 60px 40px 20px 40px;
    background: none;
    color: #4A4A4A; }
    .contener_cours footer .mail_network {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: 1.2rem; }
      .contener_cours footer .mail_network i {
        margin: 0 10px;
        color: #4A4A4A; }
      .contener_cours footer .mail_network .mail {
        font-size: 1.2rem; }
    .contener_cours footer .mention {
      font-size: 0.8rem; }

.contener_curiosite header {
  height: 100px; }
  @media screen and (max-width: 1024px) {
    .contener_curiosite header {
      height: 0; } }
  .contener_curiosite header a {
    color: black;
    text-decoration: none; }
  .contener_curiosite header li:hover a::after {
    width: 100%;
    left: 0; }
  .contener_curiosite header li {
    margin: 0 10px; }
    .contener_curiosite header li a {
      text-decoration: none;
      color: black;
      position: relative; }
      .contener_curiosite header li a::after {
        content: '';
        position: absolute;
        background-color: black;
        bottom: -5px;
        right: 0;
        width: 0%;
        height: 2px;
        -webkit-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s; }
    .contener_curiosite header li a.underline::after {
      content: '';
      position: absolute;
      background-color: black;
      bottom: -5px;
      right: 0;
      width: 100%;
      height: 2px;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }

.contener_curiosite main p {
  margin: 10px; }

.contener_curiosite main h2 {
  font-family: "Playfair Display", serif;
  color: #4C4C4C;
  font-size: 3.4rem;
  margin-bottom: 20px; }
  @media screen and (max-width: 380px) {
    .contener_curiosite main h2 {
      font-size: 2rem; } }

.contener_curiosite main .pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .contener_curiosite main .pictures .line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-bottom: 50px; }
    .contener_curiosite main .pictures .line img {
      width: 30%;
      height: 60%; }

.contener_curiosite main p {
  margin-left: 20px; }
  .contener_curiosite main p a {
    color: #4C4C4C;
    text-decoration: none;
    border-bottom: 1px solid #4C4C4C; }
    .contener_curiosite main p a img {
      width: 20px;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
  .contener_curiosite main p:hover img {
    margin-left: 10px; }

.contener_curiosite main .curiosite_histoire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-right: 15px; }
  @media screen and (max-width: 1024px) {
    .contener_curiosite main .curiosite_histoire {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  .contener_curiosite main .curiosite_histoire .curiosite_histoire_text {
    width: 50%; }
    @media screen and (max-width: 1024px) {
      .contener_curiosite main .curiosite_histoire .curiosite_histoire_text {
        width: 100%; } }
  .contener_curiosite main .curiosite_histoire img {
    width: 60%; }
    @media screen and (max-width: 1024px) {
      .contener_curiosite main .curiosite_histoire img {
        width: 90%;
        margin: 0 auto; } }

.contener_curiosite footer {
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 60px 40px 20px 40px;
  background: none;
  color: #4A4A4A; }
  @media screen and (max-width: 380px) {
    .contener_curiosite footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin: 20px 0 0 0; } }
  .contener_curiosite footer .mail_network {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.2rem; }
    @media screen and (max-width: 380px) {
      .contener_curiosite footer .mail_network {
        font-size: 0.8rem;
        margin: 0 5px; } }
    .contener_curiosite footer .mail_network i {
      margin: 0 10px;
      color: #4A4A4A; }
    .contener_curiosite footer .mail_network .mail {
      font-size: 1.2rem; }
      @media screen and (max-width: 380px) {
        .contener_curiosite footer .mail_network .mail {
          font-size: 0.8rem; } }
  .contener_curiosite footer .mention {
    font-size: 0.8rem; }
    @media screen and (max-width: 380px) {
      .contener_curiosite footer .mention {
        font-size: 0.6rem;
        padding-left: 10px;
        margin-top: 10px; } }

.contener_edition .header {
  color: black;
  padding: 26px 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .contener_edition .header nav {
    font-family: "Montserrat", sans-serif;
    font-size: 0.80rem;
    letter-spacing: 0.5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .contener_edition .header nav p {
      font-weight: bold; }
    .contener_edition .header nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      list-style: none; }
      .contener_edition .header nav ul li:hover a::after {
        width: 100%;
        left: 0; }
      .contener_edition .header nav ul li {
        margin: 0 10px; }
        .contener_edition .header nav ul li a {
          text-decoration: none;
          color: black;
          position: relative; }
          .contener_edition .header nav ul li a::after {
            content: '';
            position: absolute;
            background-color: black;
            bottom: -5px;
            right: 0;
            width: 0%;
            height: 2px;
            -webkit-transition: all 0.2s;
            -o-transition: all 0.2s;
            transition: all 0.2s; }
        .contener_edition .header nav ul li a.underline::after {
          content: '';
          position: absolute;
          background-color: black;
          bottom: -5px;
          right: 0;
          width: 100%;
          height: 2px;
          -webkit-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s; }

.contener_edition main {
  padding: 40px; }
  .contener_edition main h2 {
    font-family: "Playfair Display", serif;
    color: #4C4C4C;
    font-size: 3.4rem;
    margin: 0 0 20px 0; }
  .contener_edition main .first_picture {
    width: 100%; }
  .contener_edition main .gallery {
    margin: 20px 0; }
    .contener_edition main .gallery .line {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin-bottom: 50px; }
      .contener_edition main .gallery .line img {
        width: 32%;
        height: 60%;
        border: 1px solid #4A4A4A; }
    .contener_edition main .gallery p {
      margin-left: 20px; }
      .contener_edition main .gallery p a {
        color: #4C4C4C;
        text-decoration: none;
        border-bottom: 1px solid #4C4C4C; }
      .contener_edition main .gallery p:hover img {
        margin-left: 10px; }

.contener_edition footer {
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 60px 40px 20px 40px;
  background: none;
  color: #4A4A4A; }
  .contener_edition footer .mail_network {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.2rem; }
    .contener_edition footer .mail_network i {
      margin: 0 10px;
      color: #4A4A4A; }
    .contener_edition footer .mail_network .mail {
      font-size: 1.2rem; }
  .contener_edition footer .mention {
    font-size: 0.8rem; }

.contener_contact .header {
  color: black;
  padding: 26px 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .contener_contact .header nav {
    font-family: "Montserrat", sans-serif;
    font-size: 0.80rem;
    letter-spacing: 0.5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .contener_contact .header nav p {
      font-weight: bold; }
    .contener_contact .header nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      list-style: none; }
      .contener_contact .header nav ul li:hover a::after {
        width: 100%;
        left: 0; }
      .contener_contact .header nav ul li {
        margin: 0 10px; }
        .contener_contact .header nav ul li a {
          text-decoration: none;
          color: black;
          position: relative; }
          .contener_contact .header nav ul li a::after {
            content: '';
            position: absolute;
            background-color: black;
            bottom: -5px;
            right: 0;
            width: 0%;
            height: 2px;
            -webkit-transition: all 0.2s;
            -o-transition: all 0.2s;
            transition: all 0.2s; }
        .contener_contact .header nav ul li a.underline::after {
          content: '';
          position: absolute;
          background-color: black;
          bottom: -5px;
          right: 0;
          width: 100%;
          height: 2px;
          -webkit-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s; }

.contener_contact main {
  padding: 40px; }
  .contener_contact main h2 {
    font-family: "Playfair Display", serif;
    color: #4C4C4C;
    font-size: 3.4rem;
    margin: 0 0 20px 0; }
  .contener_contact main form {
    margin: 50px 0px;
    font-size: 1.2rem; }
    .contener_contact main form .name {
      width: 100%; }
      .contener_contact main form .name input {
        width: 49%;
        border: none;
        border-bottom: 1px solid black;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px 5px; }
    .contener_contact main form .inputmail {
      width: 98%;
      border: none;
      border-bottom: 1px solid black;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 10px 5px;
      margin: 20px 0px; }
    .contener_contact main form .date {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .contener_contact main form .date .choix_date {
        margin: 0 100px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
  .contener_contact main a {
    text-decoration: none;
    text-align: center;
    color: #4A90E2;
    font-size: 1rem;
    border: 0.5px solid #4A90E2;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 40px auto;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    width: 65px; }
  .contener_contact main a:hover {
    border: 0.5px solid #FFFFFF;
    color: #FFFFFF;
    background: #4A90E2; }

.contener_contact footer {
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 60px 40px 20px 40px;
  background: none;
  color: #4A4A4A; }
  .contener_contact footer .mail_network {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.2rem; }
    .contener_contact footer .mail_network i {
      margin: 0 10px;
      color: #4A4A4A; }
    .contener_contact footer .mail_network .mail {
      font-size: 1.2rem; }
  .contener_contact footer .mention {
    font-size: 0.8rem; }

.contener {
  position: relative;
  margin: 0 auto; }
  .contener header {
    height: 100px; }
    .contener header a {
      color: black;
      text-decoration: none; }
    .contener header li:hover a::after {
      width: 100%;
      left: 0; }
    .contener header li {
      margin: 0 10px; }
      .contener header li a {
        text-decoration: none;
        color: black;
        position: relative; }
        .contener header li a::after {
          content: '';
          position: absolute;
          background-color: black;
          bottom: -5px;
          right: 0;
          width: 0%;
          height: 2px;
          -webkit-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s; }
      .contener header li a.underline::after {
        content: '';
        position: absolute;
        background-color: black;
        bottom: -5px;
        right: 0;
        width: 100%;
        height: 2px;
        -webkit-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s; }
  .contener .bigMenu {
    max-width: 1550px;
    position: relative;
    font-family: "Playfair Display", serif; }
    .contener .bigMenu ul {
      position: inherit;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      list-style: none;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start; }
      .contener .bigMenu ul li a {
        text-decoration: none;
        color: #a3a3a3;
        font-size: 4rem;
        margin-left: 40px; }
      .contener .bigMenu ul a:hover {
        color: black; }
      .contener .bigMenu ul a.current {
        color: black; }
  .contener .imagesAquarelle {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 2000px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .contener .imagesAquarelle p {
      font-family: "Montserrat", sans-serif;
      font-size: 1.13rem;
      font-weight: 100; }
  .contener .line {
    margin: 10px 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 95%; }
    .contener .line .hover {
      position: relative; }
      .contener .line .hover .naturesHeight {
        height: 21vw; }
      .contener .line .hover img {
        height: 17vw; }
      .contener .line .hover .galery_text {
        position: absolute;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        color: #f1f1f1;
        width: 90%;
        -webkit-transition: .5s ease;
        -o-transition: .5s ease;
        transition: .5s ease;
        opacity: 0;
        color: white;
        padding: 5%;
        text-align: center; }
    .contener .line .hover:hover .galery_text {
      opacity: 1; }
  .contener .line:nth-child(2) img {
    height: 28vw; }
  .contener .line:nth-child(3) img {
    height: 30vw; }
  .contener .line:nth-child(4) img {
    height: 28vw; }
  .contener .line:nth-child(5) img {
    height: 20vw; }
  .contener .line:nth-child(6) img {
    height: 25vw; }
  .contener .line:nth-child(8) img {
    height: 29vw; }
  .contener .empty {
    height: 0; }
  .contener .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .contener .button a {
      font-family: "Montserrat", sans-serif;
      color: #4A90E2;
      font-size: 1rem;
      text-decoration: none;
      border: 0.5px solid #4A90E2;
      border-radius: 20px;
      padding: 10px 20px;
      margin: 70px auto;
      text-align: center; }
    .contener .button a:hover {
      border: 0.5px solid #FFFFFF;
      color: #FFFFFF;
      background: #4A90E2; }
  .contener footer {
    font-family: "Montserrat", sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 60px 40px 20px 40px;
    background: none;
    color: #4A4A4A; }
    .contener footer .mail_network {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: 1.2rem; }
      .contener footer .mail_network i {
        margin: 0 10px;
        color: #4A4A4A; }
      .contener footer .mail_network .mail {
        font-size: 1.2rem; }
    .contener footer .mention {
      font-size: 0.8rem; }

.hamburger {
  display: none;
  font-family: "Montserrat", sans-serif;
  background: black;
  width: 55px;
  height: 55px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2000; }
  @media screen and (max-width: 1024px) {
    .hamburger {
      display: block; } }
  .hamburger #sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    margin-top: 55px;
    -webkit-transform: translateX(-250px);
    -ms-transform: translateX(-250px);
    transform: translateX(-250px);
    -webkit-transition: -webkit-transform 250ms ease-in-out;
    transition: -webkit-transform 250ms ease-in-out;
    -o-transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
    z-index: 1000; }
  .hamburger .sidebarMenuInner {
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    background: black; }
  .hamburger .sidebarMenuInner li {
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
  .hamburger .sidebarMenuInner li span {
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5); }
  .hamburger .sidebarMenuInner li a {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none; }
  .hamburger input[type="checkbox"]:checked ~ #sidebarMenu {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
  .hamburger input[type=checkbox] {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: none; }
  .hamburger .sidebarIconToggle {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px; }
  .hamburger .spinner {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff; }
  .hamburger .horizontal {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px; }
  .hamburger .diagonal.part-1 {
    position: relative;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left; }
  .hamburger .diagonal.part-2 {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px; }
  .hamburger input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 0; }
  .hamburger input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    margin-top: 8px; }
  .hamburger input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
    margin-top: -9px; }

a {
  text-decoration: none;
  color: black; }

* {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  font-size: 62.5%; }
