.contener{
    position: relative;
    margin: 0 auto;
    p{
        font-family: $pfont;
        font-size: 1.13rem;
        font-weight: 100;
    }
    header{
        color: $menucolor2;
        padding: 26px 42px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 305px;
        box-sizing: border-box;
        nav{
            font-family: $pfont;
            font-size: 0.80rem;
            letter-spacing: 0.5px;
            display: flex;
            justify-content: space-between;
            p{
                font-weight: bold;
            }
            ul{
                display: flex;
                list-style: none;
                li{
                    margin: 0 10px;
                    a{
                        text-decoration: none;
                        color: $menucolor2;
                    }
                }
            }
        }
      }
      .bigMenu{
        max-width: 1550px;
        position: relative;
        font-family: $titlefont;
        ul{
            position: inherit;
            display: flex;
            list-style: none;
            justify-content: flex-start;
            li{
                a{
                    text-decoration: none;
                    color: #a3a3a3;
                    font-size: 4rem;
                    margin-left: 40px;
                }
            }
            a:hover{
                  color: black;
              }
            a.current
            {
              color: black;
            }
            }
      }
      .imagesAquarelle{
        margin: 0;
        display: flex;
        max-width: 2000px;
        flex-direction: column;
}
        .line{
          margin: 10px 40px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          img
          {
            height: 320px;
          }
      }

      .line:nth-child(2)
      {
        img
        {
          height: 450px;
        }
      }
      .line:nth-child(3)
      {
        img
        {
          height: 550px;
        }
      }
      .line:nth-child(4)
      {
        img
        {
          height: 400px;
        }
      }
      .empty
      {
        height: 0
      }
      .button{
        display: flex;
        justify-content: space-around;
          a{
            font-family: $pfont;
            color: #4A90E2;
            font-size: 1rem;
            text-decoration: none;
            border: 0.5px solid #4A90E2;
            border-radius: 20px;
            padding: 10px 20px;
            margin: 70px auto;
            text-align: center;
          }
          a:hover{
            border: 0.5px solid #FFFFFF;
            color: #FFFFFF;
            background: #4A90E2;
          }
        }
}
footer{
    font-family: $pfont;
    display: flex;
    justify-content: space-between;
    margin: 20px 40px;
    .mail_network{
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        i{
            margin: 0 10px;
            color: #4A4A4A;
        }
        .mail{
            font-size: 1.2rem;
        }
    }
    .mention{
        font-size: 0.8rem;
}

}
