html{
  overflow-x: hidden;
  overflow-y: auto;
}
.contener{
    position: relative;
    margin: 0 auto;
    header
    {
      height: 100px;
      @media screen and (max-width: $break-medium){
        height: 10px;
      }
      a
      {
        color: black;
        text-decoration: none;
      }
      li:hover a::after{
                  width:100%;
                  left:0;

              }
      li {
        margin: 0 10px;
        a {
          text-decoration: none;
          color: black;
          position: relative;
          &::after {
            content: '';
            position: absolute;
            background-color: black;
            bottom: -5px;
            right: 0;
            width: 0%;
            height: 2px;
            transition: all 0.2s;
            }}
            a.underline {
              &::after {
                content: '';
                position: absolute;
                background-color: black;
                bottom: -5px;
                right: 0;
                width: 100%;
                height: 2px;
                transition: all 0.2s;
                }}
        }
      }
      .bigMenu{
        max-width: 1050px;
        font-family: $titlefont;
        @media screen and (max-width: $break-small){
          margin-top: 30px;
        }
        ul{
            position: inherit;
            display: flex;
            list-style: none;
            justify-content: flex-start;
            li{
              h2
              {
                font-weight: normal;
                a{
                    text-decoration: none;
                    color: #a3a3a3;
                    font-size: 5.7vw;
                    margin-left: 2.2vw;
                }
              }
            }
            a.current
            {
              color: black;
            }
            a:hover{
                  color: black;
              }
            }
      }
      .imagesAquarelle{
        margin: 0;
        display: flex;
        max-width: 2000px;
        flex-direction: column;

        p{
            font-family: $pfont;
            font-size: 1.13rem;
            font-weight: 100;
        }
}
        .line{
          margin: 2.2vw 2.2vw;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 95%;
          .hover{
            position: relative;

            .naturesHeight{
              height: 21vw;
            }
            img{
              height: 17vw;
            }
            .galery_text{
              position: absolute;
              bottom: 0;
              background: rgba(0, 0, 0, 0.5);
              color: #f1f1f1;
              width: 90%;
              transition: .5s ease;
              opacity:0;
              color: white;
              padding: 5%;
              text-align: center;
            }
          }
          .hover:hover .galery_text{
            opacity: 1;
            @media screen and (max-width: $break-small){
              opacity: 0;
            }
          }
      }

      .line:nth-child(2)
      {
        img
        {
          height: 28vw;
        }
      }
      .line:nth-child(3)
      {
        img
        {
          height: 30vw;
        }
      }
      .line:nth-child(4)
      {
        img
        {
          height: 28vw;
        }
      }
      .line:nth-child(5)
      {
        img
        {
          height: 20vw;
        }
      }
      .line:nth-child(6)
      {
        img
        {
          height: 25vw;
        }
      }
      .line:nth-child(8)
      {
        img
        {
          height: 29vw;
        }
      }
      .empty
      {
        height: 0
      }
      .button{
        display: flex;
        justify-content: space-around;
          a{
            @media screen and (max-width: $break-medium){
              font-size: 0.7rem;
              padding: 8px 15px;
            }
            font-family: $pfont;
            color: #4A90E2;
            font-size: 1rem;
            text-decoration: none;
            border: 0.5px solid #4A90E2;
            border-radius: 20px;
            padding: 10px 20px;
            margin: 70px auto;
            text-align: center;
          }
          a:hover{
            border: 0.5px solid #FFFFFF;
            color: #FFFFFF;
            background: #4A90E2;
          }
        }
        footer{
            font-family: $pfont;
            display: flex;
            justify-content: space-between;
            margin: 60px 40px 20px 40px;
            background: none;
            color: #4A4A4A;
            @media screen and (max-width: $break-small){
              flex-direction: column;
              margin: 20px 0 0 0;
            }
            .mail_network{
                display: flex;
                align-items: center;
                font-size: 1.2rem;
                @media screen and (max-width: $break-small){
                  font-size: 0.8rem;
                  margin: 0 5px;
                }
                i{
                    margin: 0 10px;
                    color: #4A4A4A;
                }
                .mail{
                    font-size: 1.2rem;
                    @media screen and (max-width: $break-small){
                      font-size: 0.8rem;
                    }
                }
            }
            .mention{
                font-size: 0.8rem;
                @media screen and (max-width: $break-small){
                  font-size: 0.6rem;
                  padding-left: 10px;
                  margin-top: 10px;
                }
            }

        }
}
