#instafeed{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 50px 0;
	@media screen and (max-width: $break-small){
		margin: 20px 0;
	}
	.instaimg {
		margin:30px 10px;
		@media screen and (max-width: $break-small){
			margin: 0;
		}
		.squaring{
			width:230px;
			height: 230px;
			overflow: hidden;
			transition: all 0.3s;
			@media screen and (max-width: $break-medium){
				width: 110px;
				height: 100px;
			}
			@media screen and (max-width: $break-small){
				width: 65px;
				height: 50px;
			}
			&:hover {
				transform: scale(1.1);
				transform-origin: center;

			}
			img {
				max-width: 230px;
				margin: 0 20px 0 20px;
				transition: all 1s;
				@media screen and (max-width: $break-medium){
					max-width: 90px;
				}
				@media screen and (max-width: $break-small){
					max-width: 50px;
				}
				&:hover {
					transform: scale(1.1);
					transform-origin: center;

				}
			}
		}
	}
}
