#instafeed{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 50px 0;
	.instaimg {
		margin-bottom:30px;
		}
	}
	.instaimg img:hover {
		transform: scale(1.1);
		transform-origin: center;
		&::after {
			opacity: 1;
		}
	}
.img-fluid {
	position: relative;
	max-width: 250px;
	margin: 0 20px 0 20px;
	transition: all 0.3s;
}
