#instafeed{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 50px 0;
	.instaimg {
		margin-bottom:30px;
		img {
			max-width: 250px;
			margin: 0 20px 0 20px;
		}
	}
	.instaimg img:hover {
		opacity:0.8;
		-moz-opacity:0.8;
		-webkit-opacity:0.8;
	}
}
