.container{
    position: relative;
    margin: 0 auto;
    width: 1024px;
    p{
        font-family: $pfont;
        font-size: 1.13rem;
        font-weight: 100;
    }
    header{
        color: $menucolor;
        padding: 26px 42px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 565px;
        box-sizing: border-box;
        nav{
            font-family: $pfont;
            font-size: 0.80rem;
            letter-spacing: 0.5px;
            display: flex;
            justify-content: space-between;
            p{
                font-weight: bold;
            }
            ul{
                display: flex;
                list-style: none;
                li{
                    margin: 0 10px;
                    a{
                        text-decoration: none;
                        color: $menucolor;
                    }
                }
            }
        }
        .description{
            max-width: 460px;
            margin: 0 0 40px 0;
            h1{
                font-family: $titlefont;
                font-size: 3.1rem;
                margin: 0 0 15px 0;
            }
        }
        .scroll{
            font-size: 1.1rem;
            font-family: $pfont;
        }
        img{
            position: absolute;
            top:0px;
            left:0px;
            z-index: -1;
            width:1024px;
            height:565px;
        }

    }
    main{
        height:1000px;
        font-family: $pfont;
        padding: 26px;
        .galerie
        {
          h2
          {
            color: #D8D8D8;
            margin-left: 15px;
            font-size: 6rem;
          }
          .galerie_text
          {
            width: 400px;
            h3
            {
              color: #4A4A4A;
              font-size: 2rem;
              font-family: $titlefont;
            }
            p
            {
              color: #4A4A4A;
              font-weight: 400;
              width: 377px;
            }
          }
          >p
          {
            border: 1px solid #4A4A4A;
            border-radius: 20px;
            padding: 5px;
            margin: 10px auto;
            width: 300px;
            text-align: center;
            a
            {
              color: #4A4A4A;
              font-weight: 400;
              text-decoration: none;
            }
          }
        }
    }
}
